In [1]:
import os

import pandas as pd
import numpy as np
import sqlalchemy
import pymysql
import json
#import csv

from flask import Flask
from flask import jsonify
from flask import request
from flask import make_response
from flask import url_for
from flask import render_template

from sqlalchemy.orm.exc import NoResultFound
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker

In [2]:
pymysql.install_as_MySQLdb()

app = Flask(__name__, static_folder='public', static_url_path='')

In [3]:
# setup engine
engine = create_engine("mysql://root:ming1119@localhost:3306/big_mart_db")
#engine = create_engine("sqlite:///db/big_mart_db.db",poolclass=SingletonThreadPool)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
# Create our session (link) from Python to the DB
Session = sessionmaker(bind=engine)

# Save references to db table
Train_data = Base.classes.train_tb
Test_data = Base.classes.test_tb

In [13]:
session = Session()
    #querying train table from sqlite
train_results = session.query(Train_data.item_MRP,Train_data.item_outlet_sales,Train_data.item_weight 
                             ,Train_data.outlet_years,Train_data.item_visibility_mean_ratio).all()
    #close session
session.close()

In [14]:
train_df = pd.DataFrame(train_results)
train_df.head()

,item_MRP,item_outlet_sales,item_weight,outlet_years,item_visibility_mean_ratio
0,249.8092000000,3735.1380000000,9.3000000000,14,1.0000000000
1,48.2692000000,443.4228000000,5.9200000000,4,1.0025149440
2,141.6180000000,2097.2700000000,17.5000000000,14,0.9985084990
3,182.0950000000,732.3800000000,19.2000000000,15,0.7782999850
4,53.8614000000,994.7052000000,8.9300000000,26,0.7421951690

In [17]:
train_df[['item_MRP','item_outlet_sales','item_weight','outlet_years','item_visibility_mean_ratio']] = train_df[['item_MRP','item_outlet_sales','item_weight','outlet_years','item_visibility_mean_ratio']].astype(float)

train_df.head()

,item_MRP,item_outlet_sales,item_weight,outlet_years,item_visibility_mean_ratio
0,249.8092,3735.1380,9.30,14.0,1.000000
1,48.2692,443.4228,5.92,4.0,1.002515
2,141.6180,2097.2700,17.50,14.0,0.998508
3,182.0950,732.3800,19.20,15.0,0.778300
4,53.8614,994.7052,8.93,26.0,0.742195

In [18]:
#summary of train data
train_summary = train_df.describe(include = "all")
    #reset index in order to stats column    
train_summary = train_summary.reset_index()
    #rename index to stats
train_summary.rename(columns={'index': 'stats'}, inplace=True)

train_summary

,stats,item_MRP,item_outlet_sales,item_weight,outlet_years,item_visibility_mean_ratio
0,count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
1,mean,140.992782,2181.288914,12.873623,15.168133,1.080369
2,std,62.275067,1706.499616,4.645893,8.371760,0.237589
3,min,31.290000,33.290000,4.555000,4.000000,0.558097
4,25%,93.826500,834.247400,8.785000,9.000000,0.998023
5,50%,143.012800,1794.331000,12.600000,14.000000,1.000000
6,75%,185.643700,3101.296400,16.850000,26.000000,1.003294
7,max,266.888400,13086.964800,21.350000,28.000000,3.010094

In [19]:
train_summary_json = json.loads(train_summary.to_json(orient='records'))
train_summary_json

[{'item_MRP': 8523.0,
  'item_outlet_sales': 8523.0,
  'item_visibility_mean_ratio': 8523.0,
  'item_weight': 8523.0,
  'outlet_years': 8523.0,
  'stats': 'count'},
 {'item_MRP': 140.9927819782,
  'item_outlet_sales': 2181.288913575,
  'item_visibility_mean_ratio': 1.0803693083,
  'item_weight': 12.8736225507,
  'outlet_years': 15.1681332864,
  'stats': 'mean'},
 {'item_MRP': 62.2750665122,
  'item_outlet_sales': 1706.4996157338,
  'item_visibility_mean_ratio': 0.2375892603,
  'item_weight': 4.6458926291,
  'outlet_years': 8.3717604081,
  'stats': 'std'},
 {'item_MRP': 31.29,
  'item_outlet_sales': 33.29,
  'item_visibility_mean_ratio': 0.558097174,
  'item_weight': 4.555,
  'outlet_years': 4.0,
  'stats': 'min'},
 {'item_MRP': 93.8265,
  'item_outlet_sales': 834.2474,
  'item_visibility_mean_ratio': 0.998023082,
  'item_weight': 8.785,
  'outlet_years': 9.0,
  'stats': '25%'},
 {'item_MRP': 143.0128,
  'item_outlet_sales': 1794.331,
  'item_visibility_mean_ratio': 1.0,
  'item_weight': 12.6,
  'outlet_years': 14.0,
  'stats': '50%'},
 {'item_MRP': 185.6437,
  'item_outlet_sales': 3101.2964,
  'item_visibility_mean_ratio': 1.003293648,
  'item_weight': 16.85,
  'outlet_years': 26.0,
  'stats': '75%'},
 {'item_MRP': 266.8884,
  'item_outlet_sales': 13086.9648,
  'item_visibility_mean_ratio': 3.010093915,
  'item_weight': 21.35,
  'outlet_years': 28.0,
  'stats': 'max'}]

In [20]:
train_corr = train_df.corr()

#reset index in order to stats column
train_corr = train_corr.reset_index()
#rename index to stats
train_corr.rename(columns={'index': 'stats'}, inplace=True)


train_corr

,stats,item_MRP,item_outlet_sales,item_weight,outlet_years,item_visibility_mean_ratio
0,item_MRP,1.000000,0.567574,0.026172,-0.005020,-0.003626
1,item_outlet_sales,0.567574,1.000000,0.013261,0.049135,-0.391115
2,item_weight,0.026172,0.013261,1.000000,0.012823,0.007643
3,outlet_years,-0.005020,0.049135,0.012823,1.000000,0.268271
4,item_visibility_mean_ratio,-0.003626,-0.391115,0.007643,0.268271,1.000000